.war{
	width: 150px;
	margin-left: 3em;
	display: inline;
	float: left;
	padding-left: 30px;
}
ul{
	list-style-type: none;

}
ul li{
	display: inline-block;
	margin: 69px 50px 50px;
}
nav{
	text-align: center;
}
ul a{
	color: #4960a6;
	text-decoration: none;

}
ul a:hover{
	color: #4960a6;
	text-decoration: underline;
}