h1{
	text-align: center;
	font-size: 2.4em;
}
form{
	text-align: center;
}
body{
	background: grey;
}
input{
	background-color: #cccfd9;
	padding: 12px;
	border: 2px groove black;
	font-size: 19px;
}
span, label{
	font-size: 20px;
	font-family: 'Marck Script', cursive;
}
article{
	max-width: 690px;
	margin: 0 auto;
}
input.font{
	font-family: 'Marck Script', cursive;
}
.ak{
	font-size: 19px;
	font-family: 'Marck Script', cursive;
}