main{
	max-width: 800px;
	margin: 0 auto;
}
nav{
	background-color: #000;
	text-align: center;
}
a {
	text-decoration: none;
}
a.rev{
	color: #fff;
	font-size: 20px;
	padding: 34px;
}
a.log{
	text-align: right;
	color: white;
}
a:hover{
	text-shadow: 3px 4px 3px #7f8185;
	text-decoration: underline;
}
h2.main{
	font-size: 2.7em;
	text-align: center;
}
p{
	margin-top: 0px;
	font-size: 20px;
	font-family: 'Oleo Script Swash Caps', cursive;
}
h1.logo{
	font-family: 'Oswald', sans-serif;
	text-align: center;
}
h2{
	margin-bottom: 13px;
	font-size: 2em;
	text-align: center;
	padding-bottom: 0px;
}
.icon{
	text-align: center;
}
footer{
	background-color: #6b6e75;
	border: 1px solid black;
	padding: 20px 20px 0;
}
a[href="#"]{
	color: #f5f6fa;
}
.iconi{
	text-align: right;
}
a[id="Main"]:link{
	text-decoration: none;
	color: black;
}
a[id="Main"]:visited{
	text-decoration: none;
	color: black;
	border: 0px solid black;
}
div {
	margin-bottom: 5px;
}